RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
RewriteCond %{HTTP_HOST} ^9nw438\-user\.freehosting\.host$ [OR]
RewriteCond %{HTTP_HOST} ^www\.9nw438\-user\.freehosting\.host$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "https\:\/\/echobackto\.me\/" [R=301,L]

# One month for most static assets
<filesMatch "(\/js\/|\.(css|jpg|jpeg|png|gif|ico))$">
Header set Cache-Control "max-age=2628000, must-revalidate, public"
</filesMatch>
<filesMatch "(version.json|*.php)">
Header set Cache-Control no-cache
</filesMatch>
