
h1{
    margin-top: 1em;
	padding-top: 0.67em;
	padding-bottom: 0.67em;
	border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
	background-color: #FFF;;
    font-size: 1.5em;
    color: #A002EB;
}
nav{
    padding-bottom: 0;
    background-color: #FFF;
    display: flex;

    /* This is because the nav and h1 together forms the pill */
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;

    /* box shadow for the illusion of a bigger pill */
    box-shadow:
        0 1em 0px 0px #FFF,
        0 2em 0px 0px #FFF;
    background-color: #FFF;
}
nav > a{
    text-decoration: none;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    flex-grow: 1;
    background-color: #DDD;
    color: #A002EB;
    opacity: 0.5;

    padding: 0.5em 0;

    /* Border for the illusion of tabs */
    border: solid 0.5em #FFF;
    border-bottom: none;
}
nav > a.active{
    opacity: 1;
}
button, [role="button"]{
	background-color: #FFF;
	border-radius: 1em;
	border: none;
	padding: 0.25em;
	color: #A002EB;
	box-shadow: inset 0 0 0.5em 0 #DDD;
	cursor: pointer;
	text-decoration: none;
	font-size: 1em;
}

.fs-1\.25em{
	font-size: 1.25em
}
.fs-1\.5em{
	font-size: 1.5em
}
.fs-1\.75em{
	font-size: 1.75em
}
.fs-2em{
	font-size: 2em
}

.content{
    background-color: #DDD;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 0.5em;
    overflow: auto;
    max-height: calc(100vh - 8.5em);
}
.content p{
    text-align: left;
    margin-bottom: 0.5em;
}

.flex{
	display: flex
}
[class*="flex"].hcenter,
[class*="flex"].vhcenter{
	justify-content: center;
}
[class*="flex"].vcenter,
[class*="flex"].vhcenter{
	align-items: center;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.cell{
	padding: 0.5em;
}
.cell-h{
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.island{
	margin: 0.5em;
}
.island-h{
	margin-left: 0.5em;
	margin-right: 0.5em;
}
ul.list{
	padding: 0;
}

@media (min-width: 42em) {
	.flex-responsive{
		display: flex;

	}
}
